html,
body {
  width: 100%;
  height: 100%;
  min-width: 1440px;
  min-height: 830px;
  margin: 0;
}
.sx {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../images/index-bc.png") no-repeat top center;
  background-size: cover;
  position: relative;
}
.sx__header--bar {
  position: absolute;
  width: 100%;
  height: 55px;
  top: 102px;
  background: url("../images/index-bar.png") no-repeat 50% 0%;
}
.sx__container {
  height: 100%;
  width: 1400px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1700px) {
  .sx__container {
    width: 1600px;
  }
}
@media screen and (max-width: 1601px) {
  .sx__container {
    width: 1500px;
  }
}
@media screen and (max-width: 1441px) {
  .sx__container {
    width: 1400px;
  }
}
@media screen and (max-width: 1337px) {
  .sx__container {
    width: 1300px;
  }
}
.sx__container header {
  display: flex;
  height: 142px;
  width: 100%;
  flex: none;
  justify-content: space-between;
}
/* ====================================================== */
/* ========================= 标题 ========================= */
/* ====================================================== */
.sx__title {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: start;
}

/* ====================================================== */
/* ========================= 天气 ========================= */
/* ====================================================== */
.sx__weather {
  height: 100%;
  width: 600px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.sx__weather--item {
  display: flex;
  flex-direction: row;
  height: 107px;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
}
.sx__weather--item:nth-child(3) {
  margin-right: 30px;
}
.sx__weather--item .weather--item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 43px;
  margin-right: 15px;
}
.sx__weather--item .weather--item-icon img {
  width: 100%;
}
.sx__weather--item .weather--item-des {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.sx__weather--item .weather--item-des .temperature {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 24px;
  margin-bottom: 2px;
}
.sx__weather--item .weather--item-des .description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
/* ====================================================== */
/* ========================= 退出 ========================= */
/* ====================================================== */
.sx__logout {
  width: 60px;
  height: 107px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../images/return-left.png") no-repeat left center;
  cursor: pointer;
}
.sx__logout--icon {
  width: 24px;
  height: 24px;
  background: url("../images/logout-icon.png") no-repeat center;
  margin-bottom: 5px;
}
.sx__logout--return {
  color: #299ce1;
  font-size: 14px;
}
/* ====================================================== */
/* ======================== main ======================== */
/* ====================================================== */
.sx__container main {
  display: flex;
  flex: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* ====================================================== */
/* ======================== 中心区域 ======================== */
/* ====================================================== */
.sx__content {
  display: flex;
  flex-direction: column;
  flex: auto;
}
/* ====================================================== */
/* ======================== 右侧工具栏 ======================= */
/* ====================================================== */
.sx__toolbar {
  width: 66px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: none;
  align-items: flex-end;
  padding-top: 40px;
  box-sizing: border-box;
  position: relative;
}
.sx__toolbar .sx__toolbar--item {
  width: 47px;
  height: 46px;
  background-color: #32aaf5;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* ====================================================== */
/* ======================== 二维码滑窗 ======================= */
/* ====================================================== */
.sliding {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #fff;
  left: -200px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.sx__toolbar .sx__toolbar--item:hover {
  background-color: #69e6ff;
  -webkit-box-shadow: 0 0 15px 3px rgba(38, 118, 229, 0.93);
  box-shadow: 0 0 15px 3px rgba(38, 118, 229, 0.93);
}
.sx__toolbar .sx__toolbar--item:nth-child(2) {
  background-color: #0173fa;
}
.sx__toolbar .sx__toolbar--item:nth-child(3) {
  background-color: #464af3;
}
/* ====================================================== */
/* ========================= 主内容 ======================== */
/* ====================================================== */
.sx__main {
  width: 100%;
  height: 410px;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  padding-top: 40px;
}

/* ====================================================== */
/* ========================= 统计 ========================= */
/* ====================================================== */
.sx__statistics {
  width: 307px;
  height: 100%;
  display: flex;
  flex: none;
  flex-direction: column;
}
.sx__statistics--header {
  font-family: title;
  width: 100%;
  height: 49px;
  color: #ffffff;
  font-size: 22px;
  background: url("../images/statistics-border.png") no-repeat bottom;
  flex: none;
}
.sx__statistics--main {
  flex: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* ~~~~~~~~~~~~~~~~ 单个统计样式 ~~~~~~~~~~~~~~~ */
.sx__statistics--item {
  height: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sx__statistics--item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  width: 72px;
  height: 32px;
  flex: none;
  background: url("../images/statistics-title-bc.png") no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.sx__statistics--item-num {
  display: flex;
  flex: auto;
  justify-content: space-between;
  padding-left: 20px;
}
.sx__statistics--item-nums {
  color: #fff;
  font-size: 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ====================================================== */
/* ========================= 系统 ========================= */
/* ====================================================== */
.sx__system {
  height: 100%;
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-left: 64px;
  box-sizing: border-box;
}
/* ~~~~~~~~~~~~~~~~ 系统通用样式 ~~~~~~~~~~~~~~~ */
.sx__system .sx__system-item {
  height: 100%;
  width: 300px;
  flex: 1 0 auto;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  border-radius: 6px;
}

.sx__system .sx__system-item.sx__nav-hover {
  overflow: hidden;
}
.sx__system-item .sx__system-item-bc {
  flex: auto;
  width: 100%;
  border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -ms-border-radius: 6px 6px 0 0;
  -o-border-radius: 6px 6px 0 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
/* ~~~~~~~~~~~~~~~~~ 前两个 ~~~~~~~~~~~~~~~~~ */
.sx__system-item.zhcg .sx__system-item-bc {
  background: url("../images/zhcg.png") no-repeat top;
  background-size: cover;
}
.sx__system-item.zhzf .sx__system-item-bc {
  background: url("../images/zhzf.png") no-repeat top;
  background-size: cover;
}
.sx__system-item .sx__system-item-name {
  flex: none;
  width: 100%;
  height: 103px;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 26px;
  box-sizing: border-box;
  border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  -ms-border-radius: 0 0 6px 6px;
  -o-border-radius: 0 0 6px 6px;
  z-index: 1;
}
.sx__system-item.sx__nav-hover:hover {
  box-shadow: 3px 10px 14px 6px rgba(41, 31, 77, 0.3);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.sx__system-item.sx__nav-hover:hover .sx__system-item-bc {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* ~~~~~~~~~~~~~~~ 最后一个三行的 ~~~~~~~~~~~~~~~ */
.sx__system-min-item {
  width: 100%;
  height: 110px;
  flex: 1 0 auto;
  margin-bottom: 20px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.sx__system-min-item img {
  position: relative;
  top: 20px;
  left: 19px;
}
.sx__system-min-item.yxzh {
  background: url("../images/wxzh.png") no-repeat center;
  background-size: 130%;
}
.sx__system-min-item.dsjfx {
  background: url("../images/dsjfx.png") no-repeat center;
  background-size: 130%;
}
.sx__system-min-item.msfw {
  background: url("../images/msfu.png") no-repeat center;
  background-size: 130%;
}
.sx__system-min-item:hover {
  background-size: 150%;
  box-shadow: 3px 10px 14px 6px rgba(41, 31, 77, 0.3);
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  border-radius: 8px;
}
.sx__system-min-item:last-child {
  margin-bottom: 0;
}
.sx__system .sx__system-item:last-child {
  margin-right: 0;
}

/* ====================================================== */
/* ======================== 底部导航 ======================== */
/* ====================================================== */
.sx__nav {
  /* height: 265px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  justify-content: space-between;
  /* padding-bottom: 20px; */
  box-sizing: border-box;
}
.sx__nav .sx__nav--item {
  flex: none;
  flex-direction: column;
  cursor: pointer;
}

.sx__nav--item-header {
  height: 36px;
  font-family: title;
  color: #fff;
  font-size: 18px;
  padding-top: 40px;
}
.sx__nav--item-main {
  display: flex;
  flex-direction: row;
  width: 381px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sx__nav .sx__nav--item.two .sx__nav--item-main {
  width: 181px;
  height: 61px;
}
.sx__nav .sx__nav--item.two .sx__nav--item-main .sx__sub--nav {
  margin-right: 0;
}
.sx__sub--nav {
  display: flex;
  flex-direction: row;
  color: #e1f7ff;
  font-size: 18px;
  height: 61px;
  width: 181px;
  background-color: #20336c;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.sx__sub--nav:hover {
  box-shadow: 1px 5px 11px 1px rgba(2, 10, 39, 0.54);
}
.svg__path {
  position: absolute;
  width: 100%;
  height: 100%;
}
.box-shadow {
  position: absolute;
  left: 1px;
  width: 0px;
  height: 59px;
  border-radius: 6px;
  background-color: #1f326b;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
}
.content {
  z-index: 5;
  width: 200px;
  flex: auto;
  position: relative;
  margin: 0;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 50%;
  height: 200px;
  transform: translate(-70%, 50%) rotate(-90deg);
  border: 0;
  background: radial-gradient(
    ellipse at center,
    rgb(80, 224, 251) 0,
    transparent 70%
  );
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: imageRebound 0.7s ease !important;
  animation: imageRebound 0.7s ease !important;
  overflow: hidden;
  -webkit-transform: translate(-70%, 50%) rotate(-90deg);
  -moz-transform: translate(-70%, 50%) rotate(-90deg);
  -ms-transform: translate(-70%, 50%) rotate(-90deg);
  -o-transform: translate(-70%, 50%) rotate(-90deg);
}

.box-shadow .content::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  top: 50%;
  border-radius: 50%;
  border: 3px solid rgb(98, 232, 255);
  animation: circle 1.5s ease infinite;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -moz-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  -o-transform: translate(-50%, -50%) rotate(180deg);
}
.sx__sub--icon-anima {
  position: absolute;
  width: 100%;
  height: 100%;
}
.anima__go--icon circle {
  transform-origin: 50% 60%;
}
.sx__sub--nav:nth-child(2n-1) {
  margin-right: 18px;
}
.sx__sub--nav-icon {
  width: 61px;
  height: 61px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
  flex: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  z-index: 100;
}
.sx__sub--nav-name {
  height: 100%;
  color: #e1f7ff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}
/* ====================================================== */
/* ===================== sub-nav的颜色 ===================== */
/* ====================================================== */
.szgy {
  background-image: linear-gradient(0deg, #374fe3 0%, #0147f9 100%);
}
.qlglbc {
  background-image: linear-gradient(
    0deg,
    #7222f6 0%,
    #7034f4 50%,
    #6d45f1 100%
  );
}
.yymc-1 {
  background-image: linear-gradient(
    0deg,
    #ea7d08 0%,
    #f2922a 50%,
    #faa64c 100%
  );
}
.yymc-2 {
  background-image: linear-gradient(0deg, #166ff7 0%, #34bcf3 100%);
}
.srhw {
  background-image: linear-gradient(0deg, #08c65e 0%, #15bc83 100%);
}
.ztgl {
  background-image: linear-gradient(0deg, #2c3aec 0%, #4a57f8 100%);
}
.ljfl {
  background-image: linear-gradient(0deg, #fa824c 0%, #fe544c 100%);
}
.yymc-3 {
  background-image: linear-gradient(0deg, #fa824c 0%, #fe544c 100%);
}
.yllh {
  background-image: linear-gradient(0deg, #67ac42 0%, #0ca1cc 100%);
}
.gsmm {
  background-image: linear-gradient(0deg, #5430ee 0%, #0060ff 100%);
}
.yjgl {
  background-image: linear-gradient(0deg, #f34750 0%, #ff5092 100%);
}
.gengduo {
  background-image: linear-gradient(0deg, #027ad6 0%, #166ff7 100%);
}
/* ====================================================== */
/* ======================== 字体设置 ======================== */
/* ====================================================== */
@font-face {
  font-family: title;
  src: url("../font/FZZZHONGHJW.TTF");
}

/* ##################################################################### */
/* ################################# 动画 ################################ */
/* ##################################################################### */
@keyframes imageRebound {
  0% {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    border-radius: 30%;
    pointer-events: none;
  }
  40% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    border-radius: 14px;
    pointer-events: none;
  }
  70% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    border-radius: 18px;
    pointer-events: none;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 10px;
    pointer-events: none;
  }
}
@keyframes circle {
  0% {
    width: 0;
    height: 0;
  }
  to {
    width: 230px;
    height: 230px;
    opacity: 0;
  }
}
